/* Etch-a-sketch grid */
.grid-container {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
}

/*Individual grid squares */
[class*="grid-part-"] {
    color: black;
    border: 2px solid black;
}

/* Class to be added when hovered */
.filled {
    background-color: white;
}

/* Add space between button and grid */
button {
    margin-bottom: 50px;
}